<header class="site-header">
  <div class="site-header__logo">
    <a href="http://www.middlebury.edu">
      <picture>
        <source srcset="/img/middlebury-logo.png" media="(min-width: 768px)" />
        <source srcset="/img/middlebury-logo-sm.png" />
        <img src="/img/middlebury-logo.png" alt="Middlebury College"/>
      </picture>
    </a>
  </div>
  <div class="site-header__title">
    <h1 class="site-title"><a href="/" class="site-title__link" data-fetch-me>Your well-being</a></h1>
  </div>
</header>
