<div class="hero">
  <div class="hero__video">
    <picture data-video-sources="{{ "/media/well-being.mp4" | prepend: site.baseurl }},{{ "/media/well-being.webm" | prepend: site.baseurl }}" data-video-config='{"preload":"auto","autoplay":true,"loop":true,"poster":"{{ "/img/well-being-video-poster-lg.jpg" | prepend: site.baseurl }}"}' id="homepage-picture">
      <source srcset="{{ "/img/well-being-video-poster-lg.jpg" | prepend: site.baseurl }}" media="(min-width: 1024px)" />
      <source srcset="{{ "/img/well-being-video-poster-md.jpg" | prepend: site.baseurl }}" media="(min-width: 480px)" />
      <img src="{{ "/img/well-being-video-poster-sm.jpg" | prepend: site.baseurl }}" alt="">
    </picture>
  </div>
  <div class="hero__content">
    <div class="bubble bubble--hero">
      <div class="bubble__content">
        <h2 class="hero__title">How are you?</h2>
        <h3 class="hero__subtitle">No, really. How are you?</h3>
        <p class="hero__para">When we and the people around us are at our best, it only makes our community better and stronger.</p>
        <p class="hero__para">Here you’ll find some of the opportunities, resources, and support that we can provide to help you engage in your well-being.
        <div class="hero__button-container"><a href="{{ "/overview" | prepend: site.baseurl }}" class="hero__button" data-fetch-me>Explore</a></div>
      </div>
    </div>
  </div>
</div>
