<div class="hero">
  <div class="hero__video">
    <video preload="preload" loop="loop" poster="{{ "/img/campus.jpg" | prepend: site.baseurl }}">
      <source src=""/>
    </video>
  </div>
  <div class="hero__content">
    <div class="bubble bubble--hero">
      <div class="bubble__content">
        <h2 class="hero__title">How are you?</h2>
        <p class="hero__lead">No, really. How are you?</p>
        <p class="hero__para">When we and the people around us are at our best, it only makes our community better and stronger.</p>
        <p class="hero__para">Here you’ll find some of the opportunities, resources, and support that we can provide to help you engage in your well-being.
        <div class="hero__button-container"><a href="{{ "/overview" | prepend: site.baseurl }}" class="hero__button" data-fetch-me>Explore</a></div>
      </div>
    </div>
  </div>
</div>
