<div class="hero">
  <div class="hero__video">
    <video preload="preload" loop="loop" poster="img/campus.jpg">
      <source src=""/>
    </video>
  </div>
  <div class="hero__content">
    <div class="hero__bubble">
      <div class="hero__bubble-content">
        <h2>How are you feeling?</h2>
        <p>When we and the people around us are feeling our best, it only makes our community better and stronger.</p>
        <p>We want to help you feel good by providing the kinds of opportunities, resources, and support that will keep you actively engaged in your well-being.</p>
        <h2 class="hero__title">How are you feeling?</h2>
        <p class="hero__lead">When we and the people around us are feeling our best, it only makes our community better and stronger.</p>
        <p class="hero__lead">We want to help you feel good by providing the kinds of opportunities, resources, and support that will keep you actively engaged in your well-being.</p>
        <div class="hero__button-container"><a href="/overview" class="hero__button" data-fetch-me>Explore</a></div>
      </div>
    </div>
  </div>
</div>
