<div class="topics">

  <div class="topics__intro">
    <div class="topics__content">
      <div class="bubble bubble--gradient bubble--intro">
        <div class="bubble__content">
          <p>You can be actively engaged in your well-being—your health, your safety, your place in the world.</p>
          <p>And we are here to help.</p>
        </div>
      </div>
    </div>
  </div>

  <nav class="topics-nav">
    <ul class="topics-nav__list">
      {% for topic in site.data.topics %}
      <li class="topics-nav__item">
        <a href="#{{topic.title | slugify}}" class="topics-nav__anchor">
          <strong class="topics-nav__title">{{topic.title}}</strong>
          <p class="topics-nav__summary">{{topic.summary}}</p>
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>

  <section class="topics-list">
    <div class="bubble bubble--gradient bubble--topics">
      <div class="bubble__content">

        <div class="topic-articles">
          {% for topic in site.data.topics %}
            <article class="topic-article" id="{{topic.title | slugify}}">
              <h1 class="topic-article__title">{{topic.title}}</h1>
              <div class="topic-article__content">{{topic.content | markdownify }}</div>
              <h2 class="topic-article__subtitle">Resources</h2>
              <ul class="resource-list">
                {% for item in topic.resources %}
                <li>
                  <a href="{{item.url}}">{{item.title}}</a>
                </li>
                {% endfor %}
              </ul>
            </article>
          {% endfor %}
          <div class="topic-controls">
            <div class="controls">
              <button class="controls__btn controls__btn--prev" id="prev"><span class="controls__icon">&larr;</span> Previous</button>
              <button class="controls__btn controls__btn--next" id="next">Next <span class="controls__icon">&rarr;</span></button>
              <button class="controls__btn controls__btn--close" id="close">Close <span class="controls__icon">&times;</span></button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

</div>
