<div class="topics">


  <nav class="topics-nav">
    <ul class="topics-nav__list">
      {% for topic in site.data.topics %}
      <li class="topics-nav__item">
        <a href="#{{topic.title | slugify}}" class="topics-nav__anchor" data-ga-event="{{topic.title}}">
          <strong class="topics-nav__title">{{topic.title}}</strong>
          <p class="topics-nav__summary">{{topic.summary}}</p>
        </a>
      </li>
      {% endfor %}
    </ul>

    <div class="suggestions">
      <a href="{{site.suggestions_url}}" class="suggestions__link">Suggestions?</a>
    </div>
  </nav>

  <section class="topics-list">
    <div class="bubble bubble--topics">
      <div class="bubble__content">

        <div class="topics-intro">
          <div class="topics-intro__content">
            <p class="topics-intro__text">Mindfulness is at the heart of well-being. It’s your ability to be fully present, without judgment, at any given moment.</p>
            <p class="topics-intro__text">Being aware of your thoughts, feelings, and sensations heightens your ability to <em>respond</em> rather than <em>react</em>. So you can be deliberative in your life choices.</p>
          </div>
        </div>

        <div class="topic-articles">
          {% for topic in site.data.topics %}
            <article class="topic-article" id="{{topic.title | slugify}}">
              <h1 class="topic-article__title">{{topic.title}}</h1>
              <div class="topic-article__content">{{topic.content | markdownify }}</div>
              <h2 class="topic-article__subtitle">Resources</h2>
              <ul class="resource-list">
                {% for item in topic.resources %}
                  {% unless item.url == '#' %}
                    <li>
                      <a href="{{item.url}}">{{item.title}}</a>
                    </li>
                  {% endunless %}
                {% endfor %}
              </ul>
            </article>
          {% endfor %}
          <div class="topic-controls">
            <div class="controls">
              <button class="controls__btn controls__btn--prev" id="prev" data-ga-event="Previous"><span class="controls__icon">&larr;</span> Previous</button>
              <button class="controls__btn controls__btn--next" id="next" data-ga-event="Next">Next <span class="controls__icon">&rarr;</span></button>
              <button class="controls__btn controls__btn--close" id="close" data-ga-event="Close">Close <span class="controls__icon">&times;</span></button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

</div>
