$breakpoints: (
  'sm': 480px,
  'md': 768px,
  'lg': 1024px
);

$font-family-sans-serif: 'whitney ssm a', 'whitney ssm b', verdana, sans-serif;

$color-primary: #0d395f;
$color-secondary: #acd6eb;
$color-yellow: #f4b824;
$color-transparent-bg: rgba(13, 57, 95, .7);

$white: #fff;
