doctype
html
  head
    title #{ title }
    link(rel="stylesheet" href="/css/main.css")
    link(rel="stylesheet" type="text/css" href="https://cloud.typography.com/83898/7327752/css/fonts.css")
  body
    != yield
    script(src="/js/bundle.js")
