section.hero
  .hero-content
    span Your
    h1 Well-Being
  .hero-video
    video(preload autoplay loop poster="http://placehold.it/1920x1080")
      source(src="/Homepage-Loop-15.mp4")
      
section.toc
  h1 table of contents
