header.site-header
  .site-header__logo
    img(src="img/middlebury-logo.png" alt="Middlebury College")
  .site-header__title-container
    h1.site-header__title Your well-being

section.section
  .hero
    .hero__video
      //- img(
      //-   src="img/campus.jpg"
      //-   data-video-src="/media/Homepage-Loop-15.mp4"
      //-   data-video-preload=""
      //-   data-video-loop=""
      //- )
      video(preload loop poster="img/campus.jpg")
        source(src="")
    .hero__content
      .hero__bubble
        .hero__bubble-content
          h2 How are you feeling?
          p When we and the people around us are feeling our best, it only makes our community better and stronger.
          p We want to help you feel good by providing the kinds of opportunities, resources, and support that will keep you actively engaged in your well-being.
          .hero__button-container
            a(href="#explore").hero__button Explore

section.section
  p You can be actively engaged in your well-being—your health, your safety, your place in the world.
  p And we are here to help.

  nav
    ul
      li
        strong Personal and Professional
        p Ways to create a healthy work-life balance for yourself.
      li
        strong Movement and Rest
        p How to get the exercise and sleep that feels right for your body.
      li
        strong Nutrition
        p Nourish your body, strengthen your mind.
      li
        strong Spirituality
        p Find what fulfills you in life.
      li
        strong The Environment
        p Ways to engage with the space around you.
      li
        strong Mind-Body Connection
        p How to feel fully present in your everyday life.
      li
        strong Community
        p Foster your healthy and engaged relationships.
      li
        strong Financial
        p Identify your financial goals for the short and long term.
