.bubble {

}

$hero-bubble-rotation: 60deg;

.bubble--hero {
  display: flex;
  align-items: center;
  justify-content: center;

  @include media(md) {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    background-color: $color-transparent-bg;
    height: 700px;
    width: 700px;
    border-style: solid;
    border-width: 2px;
    border-color: transparent $color-secondary transparent transparent;
    transform: rotate($hero-bubble-rotation);
  }

  .bubble__content {
    padding: 20px;

    @include media(md) {
      transform: rotate(-#{$hero-bubble-rotation});
      padding-top: 50px;
      padding-right: 120px;
      padding-left: 140px;
    }
  }
}

.bubble--topics {
  background: radial-gradient(circle, #144F78, $color-primary 50%);

  @include media(lg) {
    background: none;
  }

  &:after {
    display: block;
    content: '';

    .swapper--is-open & {
      border-left-color: $color-yellow;
    }

    @include media(lg) {
      background: radial-gradient(circle, #144F78, $color-primary 70%);
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 120%;
      border-radius: 50%;
      border-width: 2px;
      border-style: solid;
      border-color: transparent;
      border-left-color: $color-secondary-dark;
      margin-top: -10%;
    }

    @include media(xl) {
      padding-bottom: 100%;
      margin-top: 0;
    }
  }

  .bubble__content {
    padding: 100px 30px 60px;

    @include media(lg) {
      position: relative;
      float: left;
      padding-left: 20%;
      padding-right: 20%;
      z-index: 2;
    }

    .swapper--is-open & {
      @include media(lg) {
        padding-top: 150px;
      }

      @include media(xxl) {
        padding-top: 200px;
      }
    }
  }
}

.bubble__content {

}
