$hero-bubble-rotation: 60deg;

.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bubble--hero {
  @include media(md) {
    position: relative;
    padding: 50% 0;
    border-radius: 50%;
    overflow: hidden;
    background-color: $color-transparent-bg;
    height: 700px;
    width: 700px;
    border-style: solid;
    border-width: 2px;
    border-color: transparent $color-secondary transparent transparent;
    transform: rotate($hero-bubble-rotation);
  }

  .bubble__content {
    padding: 20px;

    @include media(md) {
      transform: rotate(-#{$hero-bubble-rotation});
      padding-top: 50px;
      padding-right: 120px;
      padding-left: 140px;
    }
  }
}

.bubble--gradient {
  background-image: radial-gradient(circle, #144F78, $color-primary 50%);

  @include media(lg) {
    background-image: radial-gradient(circle, #144F78, $color-primary 70%);
    position: relative;
    width: 100%;
    height: 0;
    padding: 50% 0;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-left-color: $color-secondary-dark;
  }
}

.bubble--intro {
  .swapper--is-open & {
    display: none;
  }

  .bubble__content {
    padding: 100px 30px;

    @include media(lg) {
      padding-left: 20%;
      padding-right: 20%;
    }
  }
}

.bubble--topics {
  @include media(lg) {
    padding: 60% 0;
    margin-top: -15%;
  }

  @include media(xl) {
    padding: 50% 0;
    margin-top: 0;
  }

  .has-swapper & {
    display: none;
  }

  .swapper--is-open & {
    display: block;
    border-left-color: $color-yellow;
  }

  .bubble__content {
    padding: 30px;
    padding-top: 100px;
    padding-bottom: 60px;

    @include media(lg) {
      padding-top: 0;
      padding-left: 20%;
      padding-right: 20px;
      margin-top: -40%;
    }

    @include media(xl) {
      padding-top: 100px;
    }
  }
}

.bubble__content {

}
