.bubble {
  @include media(lg) {
    position: relative;
    width: 100%;
    height: 0;
    padding: 70% 0;
    border-radius: 50%;
    // display: flex;
    // align-items: flex-start;
    // height: 120%;
  }

  @include media(xl) {
    padding: 50% 0;
    // margin-top: -30%;
    // align-items: center;
  }
}

.bubble--intro {
  display: flex;
  align-items: center;

  .swapper--is-open & {
    display: none;
  }
}

.bubble--topics {
  .has-swapper & {
    display: none;
  }

  .swapper--is-open & {
    display: block;
  }
}

.bubble--gradient {
  background-image: radial-gradient(circle, #144F78, $color-primary 50%);

  @include media(lg) {
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-left-color: $color-secondary-dark;

    &.active {
      border-left-color: $color-yellow;
    }
  }
}

.bubble__content {
  padding: 100px 20px;

  @include media(lg) {
    padding: 0 20%;
    margin-top: -50%;
  }

  @include media(xl) {
    margin-top: -40%;
  }

  .bubble--intro & {
    margin-top: 0;
  }
}
