.bubble {

}

$hero-bubble-rotation: 60deg;

.bubble--hero {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  @include media(md) {
    position: relative;
    border-radius: 50%;
    background-color: $color-transparent-bg;
    height: 700px;
    width: 700px;
    border-style: solid;
    border-width: 2px;
    border-color: transparent $color-secondary transparent transparent;
    transform: rotate($hero-bubble-rotation);
  }

  .bubble__content {
    padding: 20px;

    @include media(md) {
      transform: rotate(-#{$hero-bubble-rotation});
      padding-top: 50px;
      padding-right: 120px;
      padding-left: 140px;
    }
  }
}

.bubble--topics {
  background: radial-gradient(circle, #144F78, $color-primary 50%);

  @include media(lg) {
    background: none;
  }

  .bubble__content {
    padding: 100px 30px 60px;

    @include media(lg) {
      padding: 0 20%;
    }

    .swapper--is-open & {
      @include media(lg) {
        // padding-top: 100px;
      }

      @include media(xxl) {
        padding-top: 100px;
      }
    }
  }
}

.bubble__content {

}
