.controls {
  @include clearfix();
}

.controls__btn {
  background-color: transparent;
  border: 0;
  color: $color-secondary;
  font-weight: 500;
  font-size: 16px;
  font-family: $font-family-sans-serif;
  cursor: pointer;
  padding: 5px;
  transition: color .2s;

  &:hover {
    color: $color-yellow;
  }
}

.controls__btn--prev {

}

.controls__btn--next {
  // flex-grow: auto;
}

.controls__btn--close {
  float: right;
  // align-self: flex-end;
}

.controls__icon {
  transition: transform .5s;
  display: inline-block;

  .controls__btn--prev:hover & {
    transform: translateX(-5px);
  }

  .controls__btn--next:hover & {
    transform: translateX(5px);
  }

  .controls__btn--close:hover & {
    transform: rotate(90deg);
  }
}
