* {
  box-sizing: border-box;
}

body {
  font-family: $font-family-sans-serif;
  background: $color-primary;
  color: $white;
  line-height: 1.5;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin-top: 0;
  margin-bottom: 20px;
}

a {
  color: $color-secondary;

  &:hover {
    text-decoration: none;
  }
}
