* {
  box-sizing: border-box;
}

body {
  font-family: $font-family-sans-serif;
  background: $color-primary;
  color: $white;
  line-height: 1.5;
  margin: 0;

  @include media(md) {
    &:not(.has-swapper) {
      overflow: hidden;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 1.8;
}

a {
  color: $color-secondary;

  &:hover {
    text-decoration: none;
  }
}

a,
button {
  touch-action: manipulation;
}
