.site-header {
  @include clearfix();
  background-color: $color-primary;
  text-align: center;

  @include media(md) {
    text-align: left;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 5;
    background-color: transparent;
  }
}

.site-header__logo {
  padding: 10px;

  @include media(md) {
    float: right;
    padding: 30px 40px;
  }
}

.site-header__title-container {
  position: relative;
  height: 50px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media(md) {
    float: left;
    justify-content: flex-start;
    height: 100px;
    width: 300px;
    background-color: transparent;
    overflow: visible;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    background-color: $color-secondary;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 800px;
    width: 800px;
    z-index: 2;
    border-radius: 100%;

    @include media(md) {
      right: -50%;
      transform: none;
      left: auto;
    }
  }
}

.site-header__title {
  color: $color-primary;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.175em;
  position: relative;
  margin: 0;
  z-index: 5;

  @include media(md) {
    padding-left: 20px;
  }
}

.site-header__link {
  color: currentColor;
  text-decoration: none;
}
