.hero {

}

.hero__content {
  @include media(md) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: $white;
  }
}

.hero__title,
.hero__subtitle {
  font-size: 26px;
  margin-top: 0;
  line-height: 1.4;

  @include media(md) {
    font-size: 30px;
  }
}

.hero__title {
  font-weight: 300;
  margin-bottom: 0;
}

.hero__subtitle {
  font-weight: 600;
}

.hero__para {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;

  @include media(md) {
    font-size: 20px;
  }
}

.hero__button-container {
  background-color: $color-primary;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;

  @include media(md) {
    background-color: transparent;
    text-align: center;
    position: relative;
  }
}

.hero__button {
  background-color: $color-secondary;
  color: $color-primary;
  font-size: 20px;
  letter-spacing: .01em;
  text-transform: uppercase;
  padding: 5px 10px;
  text-decoration: none;
  position: relative;
  transition: .5s;

  &:hover {
    background-color: $color-primary;
    color: $color-secondary;
  }

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    background-color: $color-secondary;
  }

  &:before {
    top: 0;
    left: calc(100% + 5px);
    width: 2px;
    height: 100%;
  }

  &:after {
    top: 50%;
    left: calc(100% + 5px);
    height: 2px;
    width: 500px;
  }
}

.hero__video {
  @include media(md) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
  }

  img,
  video {
    width: auto;
    height: auto;
    max-width: 100%;

    @include media(md) {
      position: absolute;
      max-width: none;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      z-index: -100;
      transform: translateX(-50%) translateY(-50%);
    }
  }
}
