.hero {

}

.hero__content {
  @include media(md) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: $white;
  }
}

.hero__title,
.hero__subtitle {
  font-size: 30px;
  margin-top: 0;
}

.hero__title {
  font-weight: 300;
  margin-bottom: 0;
}

.hero__subtitle {
  font-weight: 600;
}

.hero__para {
  font-size: 18px;

  @include media(md) {
    font-size: 20px;
  }
}

.hero__button-container {
  background-color: $color-primary;
  text-align: center;
  padding: 20px 0;

  @include media(md) {
    background-color: transparent;
    padding: 0;
    text-align: center;
    margin-top: 60px;
    position: relative;
  }
}

.hero__button {
  background-color: $color-secondary;
  color: $color-primary;
  font-size: 20px;
  letter-spacing: .01em;
  text-transform: uppercase;
  padding: 5px 10px;
  text-decoration: none;
  position: relative;
  transition: .5s;

  &:hover {
    // background-color: $color-secondary-dark;
    // color: $white;
  }

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
  }

  &:before {

  }

  &:after {
    top: 50%;
    left: 100%;
    height: 2px;
    width: 500px;
    background-color: $color-secondary;
  }
}

.hero__video {
  video {
    width: auto;
    height: auto;
  }

  @include media(md) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;

    video {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      z-index: -100;
      transform: translateX(-50%) translateY(-50%);
    }
  }
}
