.section {
  @include media(lg) {
    height: 100vh;
    width: 100%;
    position: relative;
  }
}

.section--hero {

}

.section--topics {
  @include media(md) {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: auto;
  }

  @include media(lg) {
    align-items: center;
  }

  @include media(xl) {
    height: 100vh;
  }
}
