.section {
  @include media(md) {
    height: 100vh;
    width: 100%;
    position: relative;
  }
}

.section--hero {

}

.section--topics {
  @include media(md) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
