.suggestions {
  text-align: center;

  @include media(lg) {
    padding-left: 40px;
    text-align: right;
  }
}

.suggestions__link {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  text-decoration: none;
  font-weight: 600;
  transition: .2s;
  display: block;
  border-top: 1px solid $color-secondary-dark;
  padding: 20px;

  &:hover {
    color: $color-yellow;
  }
}
