.topics-intro {
  @include media(lg) {
    padding-top: 65%;
  }

  .swapper--is-open & {
    display: none;
  }
}

.topics-intro__content {
  @include media(lg) {
    transform: translateY(-50%);
  }
}

.topics-intro__text {
  font-size: 18px;
  line-height: 1.8;

  &:last-child {
    margin-bottom: 0;
  }

  @include media(lg) {
    font-size: 20px;
  }
}
