.topics {
  display: flex;
  flex-direction: column;

  @include media(md) {
    max-width: 600px;
  }

  @include media(lg) {
    flex-direction: row;
    max-width: 1500px;
  }
}

.topics__intro {
  order: 2;

  p {
    font-size: 21px;

    &:last-child {
      margin-bottom: 0;
    }

    @include media(lg) {
      font-size: 24px;
    }
  }
}

.topics__content {
  // height: 100%;
}

.topics-list {
  order: 1;
  position: relative;
}

.topic-article {
  margin-bottom: 40px;

  .has-swapper & {
    display: none;
  }

  &.swapper-item--is-active {
    display: block;
  }
}

.topic-article__title {
  color: $color-yellow;
  font-size: 21px;
  margin-top: 0;
  font-weight: 500;
}

.topic-article__content {
  margin-bottom: 50px;

  p:last-child {
    margin-bottom: 0;
  }
}

.topic-article__subtitle {
  color: $color-yellow;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.resource-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin-bottom: 10px;

    a {
      font-size: 14px;
    }
  }
}
