@import 'variables';
@import 'mixins';

@import 'global';

@import 'header';
@import 'section';
@import 'hero';
@import 'topics';
@import 'topics-nav';
@import 'topics-intro';
@import 'controls';
@import 'bubble';
@import 'subnav';
@import 'spinner';

body.events-page {
  overflow: auto;
}

.note {
  font-size: 10px;
  opacity: 0.8;
  text-align: center;

  @include media(lg) {
    position: fixed;
    right: 20px;
    bottom: 20px;
    margin: 0;
  }
}

.events {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 80px;
}

.events__title {
  margin-bottom: 5px;
  margin-top: 0;
}

.events__nav {
  margin-bottom: 20px;
}
