@import 'variables';
@import 'mixins';

@import 'global';

@import 'header';
@import 'section';
@import 'hero';
@import 'topics';
@import 'topics-nav';
@import 'topics-intro';
@import 'controls';
@import 'bubble';
@import 'suggestions';
@import 'spinner';

#event-feed {
  overflow: auto;
  height: 100%;
  margin: 100px;
}

.note {
  font-size: 10px;
  opacity: 0.8;
  text-align: center;

  @include media(lg) {
    position: fixed;
    right: 20px;
    bottom: 20px;
    margin: 0;
  }
}
