<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{site.title}}</title>
    <meta name="description" content="{{site.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/83898/706148/css/fonts.css">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  </head>
  <body>
    {% include header.html %}
    <div id="root">
      {{content}}
    </div>
    <div class="spinner" id="spinner"></div>
    <script src="{{ "/js/bundle.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
